form
{
margin: 20px;

}

<!--form label
{
float:left;
width: 150px;
text-align: right;
margin-right: 10px;
}
-->
#user-info #submit
{

}

table
{
border: 1px solid black;
}

td
{
border: 1px solid black;
}
